html {
    position: relative;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 0.694445vw; /* на разрешении 1440 0.694445vw === 10px */
    font-weight: 400;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    color: #FFFFFF; /* цвет текста */
    background-color: #1B1A1B; /* цвет сайта */
}

img,
svg {
    max-width: 100%;
    height: auto;
}

svg {
    max-height: 100%;
}

button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}

/* Доступно скрываю элементы */

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    max-width: 118rem;
    margin: 0 auto;
}
