.contacts__wrap {
    width: 34rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
    padding-left: 6rem;
    margin-bottom: 4rem;
    font-style: normal;
}

.contacts__address {
    position: relative;
}

.contacts__item {
    position: relative;
}

.contacts__item {
    margin-bottom: 1.1rem;
}

.contacts__item:first-child {
    margin-bottom: 3.8rem;
}

.contacts__item:last-child {
    margin-bottom: 0;
}

.contacts__icon {
    position: absolute;
    left: -6rem;
}