.faq__list {
    margin: 0;
    padding: 0;
}

.faq__item {
    position: relative;
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 2.4rem;
    padding: 3rem 7rem;
    margin-bottom: 2rem;
    list-style: none;
}

.faq__item:after {
    position: absolute;
    content: '';
    width: 4.6rem;
    height: 4.6rem;
    background: url("img/open-purple.svg") no-repeat center / contain;
    right: 6rem;
    top: 2rem;
}

.faq__item:last-child {
    margin-bottom: 0;
}

.faq__item:nth-of-type(even) {
    background-color: #440F51;
    color: #FFFFFF;
}

.faq__item:nth-of-type(even):after {
    background: url("img/open.svg") no-repeat center / contain;
}
